/* instagram formatting */
insta-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* slideshow */
.mySlides {
    display: none;
}

.leftButton, .rightButton {
    cursor: pointer;
    color: #004AAD;
    font-size: 50px;
    padding: 50px;
}