/* flex */
.announce-flex, .news-flex {
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.news-flex {
    padding-bottom: 50px;
}

/* grid */
.news_grid_content {
    display: grid;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 300px;
    grid-template-rows: auto auto;
}

/* flipbook */
section {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    height: 500px;
    width: auto;
}

/* Insert your own background image below */
.I {
    background-image: url(../csufdisneyclub/Images/ClubPhotos/ClubPhoto1.png);
}
