.info {
    font-family: 'Montez';
    font-size: 50px;
    font-weight: 900;
    color: #004AAD;
    text-decoration: underline;
    padding-left: 20px;
    padding-top: 20px;
}

.email-phone {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #004AAD;
    padding-left: 20px;
}

    .email-phone p:hover {
        text-decoration: underline;
    }

.name-contact {
    font-family: 'Montez';
    font-size: 40px;
    color: #004AAD;
    padding-left: 20px;
}

.contact-flex {
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
    background-color: white;
    border-radius: 25px;
    margin: 10px;
}

.contact_grid_content {
    display: grid;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 500px;
    grid-template-rows: auto auto auto auto;
}